$font-georgia: Georgia, Times, "Times New Roman", serif;;
$font-garamond: 'Cormorant Garamond', Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
$font-cormorant: 'Cormorant', Georgia, serif;
