*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-cormorant;
}

h1, h2 {
  font-family: $font-garamond;
}

a {
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  color: #2c86ad;
}

a:hover {
  color: #e39810;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}




