.btn {
  cursor: pointer;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: all .3s;
  text-align: center;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  @include font(18px, 24px);
  transition: all 0.7s;
  &:hover {
    background: #4fa664;
  }

  &:active {
    opacity: .5;
  }

  &--story {
    display: inline-block;
    font-size: 0.8em;
    font-waight: normal;
    background: #4fa664;
    padding: 5px 70px 5px 10px;
    text-transform: lowercase;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: .6rem;
      right: 1em;
      width: 0;
      height: 0;
      border-left: .5em solid transparent;
      border-right: .5em solid transparent;
      border-top: 1.1em solid #fefff3;
      transition: all 0.5s;
      animation-name: bounce;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }

    &:hover {
      background: rgba(3, 19, 30, 0.7);
    }
    &:active {
      background: whitesmoke;
      color: black;
    }
  }

  &--download {
    border: 2px solid #4fa664;
    background: white;
    border-radius: 0.5em;
    font-family: $font-garamond;
    color: #4fa664;
    font-size: 1.1rem;
    font-weight: normal;
    text-transform: none;
    padding: 4px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: bottom;

    &:first-child {
      margin-right: 20px;
    }

    &:hover {
      color: #e39810;
      border: 2px solid #e39810;
      background: none;
    }
    &:active {
      background: whitesmoke;
    }
  }
}

@media (max-width: 400px) {
  .btn {
    &--download {
      width: 8em;
      padding: 0.3rem 0.9em;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      display: inline-block;
      vertical-align: bottom;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}
