.coding {
  width: 100%;
  margin-bottom: 20px;

  h2 {
    background-image: url("../img/icons/icon-code.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 10px -3px;
  }


  &__list {
    margin-left: 50px;
  }
  &__sample {
    @include font(18px, 26px);
  }
}


@media (max-width: 400px) {
  .coding {
    &__list {
      list-style: none;
      margin-left: 0;
    }

    &__sample {
      border-bottom:1px solid grey;
      text-indent: 2em;

      a {

      }
    }
  }
}
