.education {
  width: 100%;

  h2 {
    background-image: url("../img/icons/university.svg");
    background-repeat: no-repeat;
    background-size: 33px 33px;
    background-position: 10px -3px;
  }

  &__title {
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
  }

  td {
    border-bottom: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  caption {
    @include font(18px, 20px);
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__courses .education__descr {
    @include font(14px, 20px);
    position: relative;
    padding-right: 4em;
  }

  &__courses .education__date {
    vertical-align: top;
    @include font(12px);
    min-width: 110px;
    width: 20%;
  }

  &__universities .education__descr {
    @include font(14px);
  }

  &__universities .education__date {
    vertical-align: top;
    @include font(12px);
    min-width: 80px;
    text-align: center;
    width: 20%;
  }

  &__icon-show {
    position: absolute;
    top: 0.2rem;
    right: 1em;
    cursor: pointer;
    width: 25px;
    height: 25px;
    opacity: 0.7
  }

  &__icon-show:hover {
    opacity: 1;
  }

  &__icon-show:active {
    transform: translateY(1px);
  }

}

@media (min-width: 720px) {
  .education {

    h2 {
      width: 100%;
    }

    display: flex;
    flex-flow: row wrap;

    &__title {
      display: block;
      width: 15%;
      @include font(20px);
      text-align: left;
      margin-bottom: 9px;
      border-bottom: 1px solid grey;
    }

    table {
      width: 85%;
    }

    caption {
      display: none;
    }

    &__courses .education__descr {
      @include font(18px);
    }

    &__courses .education__date {
      @include font(16px);
      min-width: 150px;
    }

    &__universities .education__descr {
      @include font(20px);
    }

    &__universities .education__date {
      @include font(16px);
      text-align: left;
    }
  }
}

.resume-ru .education td {
  font-family: $font-cormorant;
}
