.footer {
  background: #4fa664;

  .container {
    justify-content: flex-end;
  }

  &__menu {
    flex: 1 0;
  }

  &__menu-list {
    list-style: none;
    text-align: right;
  }

  &__menu-item {
    display: block;
  }

  &__menu-link {
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;

    &:hover {
      background: rgba(3, 19, 30, 0.7);
    }

    &:active {
      background: whitesmoke;
      color: black;
    }
  }
}


@media (min-width: 410px) {
  .footer {
    &__menu-item {
      @include block-align();
    }
  }
}
