.header {
  background: #4fa664;

  &__menu {
    flex: 1 0 80%;
    box-sizing: content-box;
  }

  &__lang {
    flex: 1 0 100%;
  }

  &__lang-link {
    color: white;
    @include font(16px, 20px);
    font-family: Bitter, Arail, serif;
    display: inline-block;
    padding: 20px 10px 20px 10px;
  }

  &
  &__menu-list {
    list-style: none;
    text-align: right;
  }

  &__menu-item {
    display: block;
  }

  &__menu-link {
    @include font(20px, 26px);
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;
    text-align: center;
    transition: all 0.3s;

    &:hover {
      background: rgba(3, 19, 30, 0.7);
    }

    &:active {
      background: whitesmoke;
      color: black;
    }
  }
}

@media (min-width: 455px) {
  .header {
    &__menu {
     text-align: center;
    }
    &__menu-item {
      @include block-align();
    }
  }
}

@media (min-width: 565px) {
  .header {

    &__menu {
      flex: 1 0 80%;
      box-sizing: content-box;
    }

    &__lang {
      flex: 1 0 20%;
    }

  }
}
