.header {
  background: #4fa664;
  min-height: 50px;

  &__menu {
    flex: 1 0 80%;
    box-sizing: content-box;
    position: relative;
  }

  &__menu-icon {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: grey;
    top: 16px;
    right: 0px;
    fill: #fff;
    background: url("../img/icons/icon-menu-open.svg") no-repeat;
    top: -40px;


    &--close {
      background: url("../img/icons/icon-menu-close.svg") no-repeat;
      top: -40px;
    }
  }

  &__lang {
    flex: 1 0 100%;
    min-height: 60px;
  }

  &__lang-link {
    color: white;
    @include font(16px, 20px);
    font-family: Bitter, Arail, serif;
    display: inline-block;
    padding: 20px 10px 20px 10px;


    &:hover {
      background: rgba(3, 19, 30, 0.7);
    }

    &:active {
      background: whitesmoke;
      color: black;
    }
  }


  &__menu-list {
    list-style: none;
    text-align: right;

    &--closed {
      display: none;
    }
  }

  &__menu-item {
    display: block;
  }

  &__menu-link {
    @include font(20px, 26px);
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;
    text-align: center;
    transition: all 0.3s;

    &:hover {
      background: rgba(3, 19, 30, 0.7);
    }

    &:active {
      background: whitesmoke;
      color: black;
    }
  }


}

@media (min-width: 560px) {
  .header {
    &__menu {
     text-align: center;
      flex: 1 0 80%;
    }

    &__lang {
      flex: 1 0 20%;
    }
    &__menu-item {
      @include block-align();
    }

    &__menu-list {
      display: block;
    }
  }
}

@media (min-width: 565px) {
  .header {





  }
}
