.header {
  background: #4fa664;

  &__menu {
    flex: 1 0;
  }

  &__menu-list {
    list-style: none;
    text-align: right;
  }

  &__menu-item {
    display: block;
  }

  &__menu-link {
    @include font(20px, 26px);
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;
    text-align: center;
  }
}

@media (min-width: 370px) {
  .header {
    &__menu-item {
      @include block-align();
    }
  }
}
