.portfolio {
  padding-top: 20px;
  @include graph-paper(20px);

  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    width: 100%;
    text-align: center;
  }

  &__list {
    display: flex;
    width: 100%;
    list-style: none;
    flex-flow: row wrap;
  }

  &__sample {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;
    min-height: 270px;
    transition: filter 1s;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .5);
  }

  &__sample:hover .portfolio__sample-info {
    top: 0;
  }

  &__sample-info {
    font-size: 0;
    position: absolute;
    top: -500px;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    padding: 10px;
    transition: top .2s;
    background: rgba(3,19,30,.7);
    flex-flow: row wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__img {
    display: block;
    width: 100%;
    height:100%;
  }

  &__btn {

    width: 47%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px 8px 20px;
    @include block-align();
    @include font(14px, 18px);

    &--github {
      margin-right: 5%;
    }

    &:hover {
      color: white;
    }
  }

  &__sample-description {
    padding: 10px;
    text-align: center;
    color: white;
    @include font(16px, 20px);
    max-width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .portfolio__sample-description {
    @include font(20px, 26px);
  }
}

@media (min-width: 700px) {
  .portfolio__title {
    text-align: left;
  }

  .portfolio__sample {
    width: 48%;

    &:nth-of-type(2n + 1) {
      margin-right: 2%;
    }
  }

  .portfolio__sample-description {
    @include font(16px, 20px);
  }
}
