.resume {



  width: auto;
  .container {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    overflow: hidden;
  }

  &__downloads {
    width: 100%;
    margin: 15px 0;
    text-align: center;
  }

  h2 {
    @include font(20px, 30px);
    font-family: $font-garamond;
    color: #3d7b49;
    border-bottom: 2px solid #3d7b49;
    padding-left: 50px;
  }

  td {
    font-family: $font-cormorant;
    font-weight: normal;
  }

  &__photo-wrapper {
    width: 40%;
    padding: 40px;
    padding-left: 0;
  }

  &__photo {
    height: auto;
    filter: grayscale(1);
    float: left;
    width: 300px;
    height: auto;
  }
}


@media (max-width: 810px) {
  .resume {
    &__photo-wrapper {
      display: none;
    }
  }
}
